*~
*.bak
Thumbs.db
desktop.ini
.DS_Store
.buildpath
.project
.settings
*.tmproj
fuel/app/logs/*/*/*
fuel/app/cache/*/*
build
nbproject/
.idea

/fuel/app/config/crypt.php
fuel/app/files/*
fuel/app/cert/*
fuel/app/tests/files/*
*.p12
